body {
  background-image: url(netflix.png);
}
#container {
  margin: auto;
  color: white;
  background-color: rgba(46, 49, 49, 0.5);
}
#title {
    /* font-style: normal;*/
  
  font-size:50px;
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight:900; 

 
}
#description {
  font-size: 14px;
  font-style: italic;
  font-family: sans-serif;
  text-align: center;
}
#survey-form {
    text-align: center
  border: ;
  background-color: rgba(0, 0, 0, 0.8);
  width: 30%;
  margin:auto;
}
.box {
  padding-top: 10px;
  padding-left: 30px;
}
#name,
#age,
#email,
#content {
  margin-top: 10px;
  width: 70%;
  height: 30px;
}
#comments{
    width: 70%;
    height: 50px;
}
#submit input {
  border: white;
  border-radius: 10px;
  width: 85px;
  height: 25px;
  color: white;
  background-color: red;
  cursor: pointer;
  padding-top: 10px;
}
#submit {
  text-align: center;
}
#submit input:hover {
  border-radius: 10px;
  width: 85px;
  height: 25px;
  background-color: white;
  color: black;
  transition: 0.5s;
}
